{% extends "base.html" %}

{% block main_content %}
      
<div class="container-fluid pt-4 px-4">
  <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">

    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h3 class="mb-4 text-center">Delete Music Group</h3>

        <h4 class="mb-4 text-center">Are you sure you want to delete {{ music_group }}?</h4>

        <form method="post" action="{% url 'music_group_delete' id=music_group.id %}">

          <input class="btn btn-primary py-3 w-100 mb-3" type="submit" value="Delete">
            {% csrf_token %}
        </form>

          <a href="{% url 'music_group_details' id=music_group.id %}" type="button" class="btn btn-outline-light py-3 w-100 mb-3">Back</a>
      </div>
    </div>

  </div>
</div>

{% endblock %}
