{% extends "base.html" %}

{% block main_content %}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
    
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h3 class="mb-4 text-center">Delete Existing Pending Songs</h3>
        
                <h4 class="mb-4 text-center">Are you sure you want to delete these songs?</h4>

                <ul>
                    {% for song in pending_songs %}
                        <li>{{ song }}</li>
                    {% endfor %}
                </ul>
        
                <form action="{% url 'pending_song_multiple_delete' %}" method="post">
        
                <input class="btn btn-primary py-3 w-100 mb-4" type="submit" value="Delete All">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
