{% extends "base.html" %}

{% block title %}SpotiCode | Songs - {{ song }}{% endblock %}

{% block main_content %}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-top justify-content-center mx-0">

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="text-center mb-3">Song Details</h4>
                <h5 class="text-center mb-3">{{ song }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent">Year: {{ song.song_year }}</li>
                    <li class="list-group-item bg-transparent">Genre: {{ song.genre }} </li>
                    <li class="list-group-item bg-transparent">Album: {{ album_name }}</li>
                    <li class="list-group-item bg-transparent">Group: {{ song.group }}</li>
                    <li class="list-group-item bg-transparent">In Playlists: {{ playlists }}</li>
                    <li class="list-group-item bg-transparent">ID: {{ song.song_id }}</li>
                    {% if song.spotify_link %}
                        <a href="{{ song.spotify_link }}" class="list-group-item bg-transparent"> Spotify Link: Yes </a>
                    {% else %}
                        <li class="list-group-item bg-transparent">Spotify Link: No</li>
                    {% endif %}
                </ul>

                <div class="bg-secondary rounded h-20 p-4">
                    <div class="btn-group d-flex justify-content-center" role="group" style="margin-top: 20px;">
                        {% if can_edit_check %}
                            <a href="{% url 'song_add_to_playlist' id=song.song_id %}" type="button" class="btn btn-outline-primary m-2"><i class="fa fa-plus me-2"></i>Add to Playlist</a>
                            <a href="{% url 'song_edit' id=song.song_id %}" type="button" class="btn btn-outline-primary m-2"><i class="fa fa-pen me-2"></i>Edit</a>
                        {% endif %}
                        {% if can_delete_check %}
                            <a href="{% url 'song_delete' id=song.song_id %}" type="button" class="btn btn-outline-primary m-2"><i class="fa fa-eraser me-2"></i>Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
