{% extends "base.html" %}

{% block main_content %}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-1000 bg-secondary rounded align-items-center justify-content-center mx-0">

        <!-- Add Button -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                {% if can_create_check %}
                    <a href="{% url 'playlist_create' %}" type="button" class="btn btn-outline-primary m-2">Add New Playlist</a>
                {% endif %}
            </div>
        </div>

        <!-- Search Field -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <form action="{% url 'playlists_all' %}" method="GET" class="d-none d-md-flex ms-4">
                    <input class="form-control" type="text" name="query" placeholder="Search playlists...">
                    <button type="submit" name="search-btn" class="btn btn-outline-light m-2">Search</button>
                </form>
            </div>
        </div>

        <!-- Table Titles -->
        <div class="col-sm-12 col-xl-10">
            <div class="bg-secondary rounded h-100 p-4">

                {% if not playlists %}
                    <h4 class="text-left">No Playlists</h4>
                {% else %}
                    <h3 class="text-left">Total Playlists: {{ total_playlists }}</h3>
                {% endif %}

                <!-- Table -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align:center">Playlist</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for playlist in page_obj %}
                            <tr>
                                <td style="text-align:center" >{{ playlist }}</td>
                                <td><a href="{% url 'playlist_songs_all' id=playlist.playlist_id %}" class="details-btn">Show Songs</a></td>
                                <td><a href="{% url 'playlist_details' id=playlist.playlist_id %}" class="details-btn">Details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

            
        <!-- Pages -->
        <div class="pagination justify-content-center align-items-center mt-4">
            <ul class="pagination">
                <li class="page-item">
                    <a href="?page=1" class="btn btn-primary">&laquo;</a>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary" >&lt;</a>
                    {% else %}
                        <a href="?page=1" class="btn btn-primary" >&lt;</a>
                    {% endif %}
                    <a href="?page={{ page_obj.number }}" class="btn btn-primary" >{{ page_obj.number }}</a>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary" >&gt;</a>
                    {% else %}
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary" >&gt;</a>
                    {% endif %}
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">&raquo;</a>
                </li>
            </ul>
        </div>

    </div>
</div>

{% endblock %}
