{% extends "base.html" %}

{% block main_content %}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-top justify-content-center mx-0">

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-4 text-center">Add Artist</h4>

                <div class="form-floating mb-3">
                    <form action="{% url 'artist_create' %}" method="post">
                        {% csrf_token %}
                        {{ form }}

                        <input class="btn btn-primary py-3 w-100 mb-4" type="submit" value="Add" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
