{% extends "base.html" %}

{% block main_content %}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-1000 bg-secondary rounded align-items-top justify-content-center mx-0">

        <!-- Tasks -->
        <div class="col-sm-6">
            <div class="bg-secondary rounded p-4">
                <h4 class="text-center mb-4">Task Details</h4>
                <h5 class="text-center mb-4">{{ task }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent">{{ task.description }}</li>
                    <li class="list-group-item bg-transparent">Status: {{ task.status }} </li>
                    <li class="list-group-item bg-transparent">Task Type: {{ task.task_type }}</li>
                    <li class="list-group-item bg-transparent">Priority: {{ task.priority }}</li>
                    <li class="list-group-item bg-transparent">Related App: {{ task.related_app }} </li>
                    <li class="list-group-item bg-transparent">Responsible: {{ task.responsible }}</li>
                    <li class="list-group-item bg-transparent">Date Created: {{ task.date_created|date:"F j, Y" }}</li>
                    <li class="list-group-item bg-transparent">Date Closed: {{ task.date_closed|date:"F j, Y" }}</li>
                    <li class="list-group-item bg-transparent">ID: {{ task.task_id }}</li>
                    <li class="list-group-item bg-transparent">Last Modified: {{ task.last_modified|date:"F j, Y" }}</li>
                </ul>

                <div class="bg-secondary rounded p-4">
                    <div class="btn-group d-flex justify-content-center" role="group" style="margin-top: 20px;">
                        {% if can_edit_check %}
                            <a href="{% url 'task_edit' id=task.task_id %}" type="button" class="btn btn-outline-primary m-2"><i class="fa fa-pen me-2"></i>Edit</a>
                        {% endif %}
                        {% if can_delete_check %}
                            <a href="{% url 'task_delete' id=task.task_id %}" type="button" class="btn btn-outline-primary m-2"><i class="fa fa-eraser me-2"></i>Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Tasks -->
        
        <!-- Comments -->
        <div class="col-sm-6">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h4 class="mb-0">Comments</h4>
                    <a href="">Show All</a>
                </div>
                {% if not task_comments %}
                    <h5 class="text-center">No Comments</h5>
                {% else %}
                    <h5 class="text-center">Total Comments: {{ task_comments.count }}</h5>

                    {% for comment in task_comments %}
                        <div class="d-flex align-items-center border-bottom py-3">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">{{ comment.user.username }}</h6>
                                    <small>{{ comment.date_added|date:"F j, Y" }}</small>
                                </div>
                                <span>
                                    <a href="{% url 'task_comment_details' id=task.task_id c_id=comment.comment_id %}" type="button" class="btn btn-outline-link m-2">{{ comment.comment_text|truncatewords:6 }}</a>
                                </span>
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}

                <div class="bg-secondary rounded p-4">
                    <div class="btn-group d-flex justify-content-center" role="group" style="margin-top: 20px;">
                        {% if can_create_check %}
                            <a href="{% url 'task_comment_create' id=task.task_id %}" type="button" class="btn btn-outline-primary m-2"><i class="fa fa-plus me-2"></i>Add Comment</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <!-- End Comments -->

    </div>
</div>

{% endblock %}
