{% extends "base.html" %}

{% block title %}SpotiCode | All Tasks{% endblock %}

{% block main_content %}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-1000 bg-secondary rounded align-items-center justify-content-center mx-0">

        <!-- Add Button -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                {% if can_create_check %}
                    <a href="{% url 'task_create' %}" type="button" class="btn btn-outline-primary m-2">Add New Task</a>
                {% endif %}
            </div>
        </div>

        <!-- Search Field -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <form action="{% url 'tasks_all' %}" method="GET" class="d-none d-md-flex ms-4">
                    <input class="form-control" type="text" name="query" placeholder="Search tasks...">
                    <button type="submit" name="search-btn" class="btn btn-outline-light m-2">Search</button>
                </form>
            </div>
        </div>

        <!-- Table Titles -->
        <div class="col-sm-12 col-xl-11">

            <div class="bg-secondary rounded h-100 p-20">

                {% if total_active_tasks == 0 %}
                    <h4 class="text-left">No Active Tasks</h4>
                {% else %}
                    <h3 class="text-left">Total Active Tasks: {{ total_active_tasks }}</h3>
                {% endif %}

                <!-- Table -->
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col" style="text-align:center">Task</th>
                            <th scope="col" style="text-align:center">Type</th>
                            <th scope="col" style="text-align:center">Priority</th>
                            <th scope="col" style="text-align:center">App</th>
                            <th scope="col" style="text-align:center">Responsible</th>
                            <th scope="col" style="text-align:center">Status</th>
                            <th scope="col" style="text-align:center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in page_obj %}
                            <tr>
                                <td style="text-align:center">{{ task }}</td>
                                <td style="text-align:center">{{ task.task_type }}</td>

                                {% if task.priority == 'Urgent' %}
                                    <td class="text-danger" style="text-align:center">{{ task.priority }}</td>
                                {% elif task.priority == 'High' %}
                                    <td class="text-warning" style="text-align:center">{{ task.priority }}</td>
                                {% elif task.priority == 'Normal' %}
                                    <td class="text-white" style="text-align:center">{{ task.priority }}</td>
                                {% elif task.priority == 'Low' %}
                                    <td class="text-dark" style="text-align:center">{{ task.priority }}</td>
                                {% endif %}

                                <td style="text-align:center">{{ task.related_app }}</td>

                                {% if task.responsible %}
                                    <td style="text-align:center">{{ task.responsible }}</td>
                                {% else %}
                                    <td style="text-align:center"></td>
                                {% endif %}

                                {% if task.status == 'Not Started' %}
                                    <td class="text-light" style="text-align:center">{{ task.status }}</td>
                                {% elif task.status == 'In Progress' %}
                                    <td class="text-info" style="text-align:center">{{ task.status }}</td>
                                {% elif task.status == 'Needs Assistance' %}
                                    <td class="text-warning" style="text-align:center">{{ task.status }}</td>
                                {% elif task.status == 'Issues Found' %}
                                    <td class="text-danger" style="text-align:center">{{ task.status }}</td>
                                {% elif task.status == 'On Hold' %}
                                    <td class="text-muted" style="text-align:center">{{ task.status }}</td>
                                {% elif task.status == 'For Testing' %}
                                    <td class="text-white" style="text-align:center">{{ task.status }}</td>
                                {% elif task.status == 'Cancelled' %}
                                    <td class="text-dark" style="text-align:center">{{ task.status }}</td>
                                {% elif task.status == 'Completed' %}
                                    <td class="text-success" style="text-align:center">{{ task.status }}</td>
                                {% endif %}

                                <td><a href="{% url 'task_details' id=task.task_id %}" class="details-btn">Details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

            
        <!-- Pages -->
        <div class="pagination justify-content-center align-items-center mt-4">
            <ul class="pagination">
                <li class="page-item">
                    <a href="?page=1" class="btn btn-primary">&laquo;</a>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary" >&lt;</a>
                    {% else %}
                        <a href="?page=1" class="btn btn-primary" >&lt;</a>
                    {% endif %}
                    <a href="?page={{ page_obj.number }}" class="btn btn-primary" >{{ page_obj.number }}</a>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary" >&gt;</a>
                    {% else %}
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary" >&gt;</a>
                    {% endif %}
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">&raquo;</a>
                </li>
            </ul>
        </div>

    </div>
</div>

{% endblock %}
