{% extends "base.html" %}

{% block title %}SpotiCode | Playlists - Mass Add - {{ playlist }}{% endblock %}

{% block main_content %}
    
<div class="container-fluid pt-4 px-4">
    <div class="row vh-1000 bg-secondary rounded align-items-center justify-content-center mx-0">

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-3 text-center">Add Songs to Playlist</h4>
                <h4 class="mb-4 text-center">For playlist: {{ playlist }}</h4>

                <h5 class="mb-4 text-center">Pick your criterias:</h5>

                <form method="get" action="{% url 'playlist_songs_preview_mass_add' id=playlist.playlist_id %}">
                    {% csrf_token %}
                    {{ form }}

                    <button class="btn btn-outline-primary w-100 m-2" type="submit">Generate</button>
                </form>

                <form method="post" action="{% url 'playlist_songs_mass_add' id=playlist.playlist_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="playlist_id" value="{{ playlist.playlist_id }}">
                    <button class="btn btn-primary w-100 m-2" type="submit">Mass Add</button>
                </form>

            </div>
        </div>

        <!-- Sample Table -->
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h3 class="text-center">Total Songs: {{ songs.count }}</h3>

                <!-- Table -->
                <table class="table table-borderless" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in songs %}
                        <tr>
                            <td style="text-align:center" >{{ forloop.counter }}. {{ song }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}