{% extends "base.html" %}

{% block title %}Accounts - Change Password | SpotiCode{% endblock %}

{% block main_content %}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-20">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h3>Change Password</h3>
                </div>

                <div class="form-floating mb-3">
                    <form method="post" action="{% url 'user_password_change' id=user.id %}">
                        {{ form }}

                        <button type="submit" class="btn btn-primary py-3 w-100 mb-3">Save</button>
                            {% csrf_token %}
                    </form>

                    <a href="{% url 'user_details' id=user.id %}" type="button" class="btn btn-outline-light py-3 w-100 mb-3">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
